#slide .textstyle{
  text-align: center;
  margin: 0 auto;
  width: var(--pageWidth);
}
#slide h1{
  display: inline-block;
  margin-top: 36rem;
  font-size: 10rem;
  font-weight: 500;
  color: var(--accentColor);
}
#slide h2{
  font-size: 8rem;
  text-align: left;
  margin: 3rem 5rem;
  font-weight: 400;
  color: var(--accentColor);
}
#slide h3{
  font-size: 8rem;
  font-weight: 300;
  margin-bottom: 1rem 0 2rem 0;
  width: 100%;
  color: var(--mainColor);
}
#slide h4{
  font-size: 7rem;
  text-align: left;
  margin: 5rem 20rem;
  font-weight: 400;
  color: var(--mainColor);
}
#slide h5{
  font-size: 7rem;
  text-align: center;
  margin: 44rem 10rem 0rem 10rem;
  font-weight: 200;
  color: var(--mainColor);
}
#slide h6{
  font-size: 6rem;
  text-align: left;
  margin: 2rem 10rem 4rem 25rem;
  font-weight: 400;
  color: var(--mainColor);
}
#slide p{
  font-size: 6rem;
  text-align: left;
  margin: 2rem 10rem 4rem 25rem;
  font-weight: 200;
  color: var(--mainColor);
}
#slide .images{
  width: calc(var(--pageWidth) - 40rem);
  margin: 0 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: flex-start;
}
#slide .images img{
  flex: 1 1 auto;
  width: 0%;
  min-width: 40em;
  margin: 3em;
}